<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>I am the Winner</title>
    <script src="../../../dist/client/jiber-client.bundle.js"></script>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body style="background-color: white; padding: 24px; margin: 24px;">

    <div id="app">
      <div v-if="!room">
        My Name is: <input v-model="myName"></input>
        <button @click="login(myName)">Login</button>
      </div>
      <div v-else>
        The winner is: {{winner || 'no one'}}!
        <button @click="win" v-if="myName !== winner">
          No, I'M the Winner!
        </button>
      </div>
    </div>

    <script>

      // Whenever someone dispatches 'WIN', they become they new winner!
      const winner = (state, action) => {
        switch (action.type) {
          case 'WIN':
            return action.$userId
          default:
            return state
        }
      }

      // Our Vue app
      var app = new Vue({
        el: '#app',
        data: {
          myName: '',
          winner: '',
          room: undefined
        },
        methods: {
          login (name) {
            // Pass our custom app logic to jiber
            const store = $jiber.createStore({
              url: 'localhost',
              reducer: winner,
              credential: name
            })
            const room = store.createRoom('room1')
            room.subscribe(() => this.winner = room.getState())
            this.room = room
          },
          win () {
            this.room.dispatch({type: 'WIN'})
          }
        }
      })

    </script>
  </body>
</html>
